.picture {
  text-align: center;
  padding: 0.5em;
}

.main {
  max-width: 95%;
  margin: 1em auto;
  display: grid;
  box-shadow: 0px 2px 10px black;
}

.title {
  text-align: center;
}

.btn a {
  color: #0277bd;
  margin: 0.5em 1em;
  display: block;
  text-decoration: none;
}

.btn a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.btn {
  text-align: center;
  padding: 0.5em;
}

.btn button {
  background: whitesmoke;
}

.paragraph {
  max-width: 85%;
  margin: auto;
}

@media (min-width: 40em) {
  .paragraph {
    max-width: 60%;
  }
}
