@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E1F5FE;
    color: #0277BD;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 1em;
    background: #81D4FA;
    color: #0277BD;
    margin-bottom: 1em;
  }
  .title {
    font-family: 'Rye', cursive;
    font-size: 2em;
    text-align: center;
    padding: .5em;
    margin: 0;
  }
  
  .menu_list {
    margin: 0;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .menu_list a{
    color: #0277BD;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: .5em;
  }

  footer {
    text-align: center;
    background: #81D4FA;
    color: #0277BD;
    font-weight: bold;
    padding: 1em;
  }

  
